

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2023, <a href="#">Masiha Talks</a></p>
        <p>Designed and Developed by: <strong>Faizan Shaikh</strong></p>
      </div>
      <div class="col-md-6">
        <div class="developer-contact">
          <p><strong>Contact the Developer:</strong></p>
          <ul class="list-unstyled">
            <li>
              <a href="https://www.linkedin.com/in/faizan-shaikh-7a9b00253?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
                <fa-icon [icon]="faLinkedin" style="color: #0077B5;"></fa-icon> Faizan Shaikh
              </a>
            </li>
            <li>
              <a href="mailto:faizanshaikh0103@gmail.com" target="_blank">
                <fa-icon [icon]="faEnvelope" style="color: #c4bb35;"></fa-icon> faizanshaikh0103@gmail.com
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>




