<!-- <html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head> -->
   
  <!-- <div class="box">
    <div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="checkmark">✓</i>
    </div>
      <h1>Registration Success</h1> 
      <p>Now you can login using your email and password</p>
      <div>
          <button class="btn btn-primary w-100"><a class="anker" routerLink="/authentication">Login</a></button>
          <button class="btn btn-secondary mt-2"><a class="anker" routerLink="/">Home</a></button>
        </div>
    </div>
    
  </div>

 -->
<div class="alert alert-success" role="alert">
  Congratulations! You have successfully registered. Please Login to Your Account
</div>